<!-- Footer -->
<footer>
    <div class="grid container-center">

         <article class="items">
              <h2>Direccion</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolore saepe fugit quod maxime
                   corrupti eligendi explicabo facere facilis hic, laborum expedita a. Vitae, eveniet esse maiores
                   tempore officiis et.</p>
         </article>

         <article class="items">
              <h2>Enlaces</h2>
              <ul>
                   <li><a href="">Helados</a></li>
                   <li><a href="">Tortas</a></li>
                   <li><a href="">Dulces</a></li>
                   <li><a href="">Postres</a></li>
                   <li><a href="">Sobre nosotros</a></li>
                   <li><a href="">Contactanos</a></li>
                   <li><a href="">Nuestro menú</a></li>
                   <li><a href="">Delivery y envíos</a></li>

              </ul>
         </article>

         <article class="items">
              <h2>Horario</h2>
              <p>Todos los dias <br>10AM - 8PM</p>
         </article>

         <article class="items">
              <aside>
                   <h2>Contacto</h2>
                   <p>info@misitio.com <br>Tel: 914-123-456</p>
              </aside>

              <aside class="sociales">
                   <a href="" class="fab fa-facebook-f"></a>
                   <a href="" class="fab fa-twitter"></a>
                   <a href="" class="fab fa-instagram"></a>
              </aside>
         </article>


         <article class="items subs">
              <h2>Subscribete</h2>
              <input type="text" placeholder="Ingrese su email">
              <button class="btn dark">Enviar</button>
         </article>

    </div>
</footer>


<!-- Footer copy -->
<footer class="copy">
    <p>© 2020. All Rights Reserved</p>
</footer>
</body>