<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header')%>
    <div style="width: 100%;text-align: center"><img src="images/404.png"></div>
  <%- include('./partials/footer')%>
</body>
</html>