<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header')%>
  <section class="our_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2><span>Nuestros Helados</span></h2>
      </div>
      <div class="our_container">
        <div class="box">
          <div class="img-box">
            <img src="images/ice-1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Cremas</h5>
            <p>Con un sabor autentico para que pueda disfrutar en cualquier situacion</p>
            <a href="/productos">Ver productos</a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/ice-2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Especiales</h5>
            <p>Los sabores especiales que brindamos para poder aventurarte en nuevos sabores</p>
            <a href="/productos">Ver productos</a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/ice-3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Frutales</h5>
            <p>Sabores frescos para temporadas calurosas y que puedas disfrutar con compania</p>
            <a href="/productos">Ver productos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="about_container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="img-box">
              <img src="images/about-img.png" alt="">
            </div>
          </div>
          <div class="col-lg-7 col-md-6 ">
            <div class="detail-box">
              <div class="heading_container">
                <h2><span>Sobre nosotros</span></h2>
              </div>
              <p>Nos encargamos de realizar los helados mas ricos de la zona, pueden confirmar nuestro comentario todos nuestros clientes
                de manera que nos brindan una aprobación general</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="offer_section">
    <div class="container">
      <div class="offer_container">
        <div class="btn-box">
          <a href="/productos">Ver productos</a>
        </div>
        <div class="detail-box">
          <h2>Conoce nuestros productos</h2>
        </div>
        <div class="img-box">
          <img src="images/offer-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer')%>
</body>
</html>