<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header')%>
        <form style="padding-top: 100px;padding-bottom: 100px;" action="/products/create" method="POST" enctype="multipart/form-data">
            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" name="nombre" required>
            <br>
            <label for="precio">Precio:</label>
            <input id="precio" type="text" name="precio" required>
            <br>
            <label for="image">Imagen:</label>
            <input id="image" type="file" name="image" required>
            <br>
            <label for="">Categoria:</label>
            <select name="categoria">
                <option value="1">cremas</option>
                <option value="3">frutales</option>
                <option value="2">especiales</option>
            </select>
            <br>
            <button type="submit">
                agregar
             </button>
        </form>
        <% if (locals.errors) { %>
            <div class="">
                mostrar errores
                <% errors.forEach(error=> { %>
                    <%= error.msg %>
                <% }) %>
            </div>
        <% } %>
        <%- include('../partials/footer')%>
    </body>
</html>